// BREAKPOINTS
$phone: 22.5em; // 360px
$phone-md: 25em; // 400px
$phone-xl: 30em; // 480px
$phablet: 37.5em; // 600px
$tablet: 48em; // 768px
$tablet-xl: 56.25em; // 900px
$desktop: 64em; // 1024px
$desktop-md: 75em; // 1200px
$desktop-xl: 112.5em; // 1800px

// COLORS
$white: #ffffff;
$black: #333333;
$blue-light: #82ccdd;
$blue-dark: #60a3bc;
$green-light: #b8e994;
$green-dark: #78e08f;
$grey1: #ecf0f1;
$grey2: #bdc3c7;
$disabled1: #95a5a6;
$disabled2: #7f8c8d;